/* Zhengzheng ZHANG [tychio@yeahmobi.com]
 * 2013.9.6
 */.country-icon{display:inline-block;overflow:hidden;width:20px;height:20px;background-image:url("icon.png");background-repeat:no-repeat;margin:0 2px}
.country-CN{background-position:0 0}
.country-KG{background-position:0 -20px}
.country-LR{background-position:0 -80px}
.country-SO{background-position:0 -100px}
.country-JM{background-position:0 -120px}
.country-MK{background-position:0 -140px}
.country-UK{background-position:0 -180px}
.country-PY{background-position:0 -220px}
.country-AF{background-position:-20px 0}
.country-LA{background-position:-20px -20px}
.country-RO{background-position:-20px -60px}
.country-ZA{background-position:-20px -100px}
.country-CZ{background-position:-20px -180px}
.country-AU{background-position:-20px -220px}
.country-LB{background-position:-40px -20px}
.country-MG{background-position:-40px -80px}
.country-SD{background-position:-40px -100px}
.country-IE{background-position:-40px -160px}
.country-SR{background-position:-40px -220px}
.country-MY{background-position:-60px -20px}
.country-TH{background-position:-60px -40px}
.country-MW{background-position:-60px -80px}
.country-KN{background-position:-60px -120px}
.country-IS{background-position:-60px -160px}
.country-RU{background-position:-60px -180px}
.country-TJ{background-position:-60px -220px}
.country-MV{background-position:-80px -20px}
.country-TM{background-position:-80px -40px}
.country-CI{background-position:-80px -60px}
.country-ML{background-position:-80px -80px}
.country-TZ{background-position:-80px -100px}
.country-VC{background-position:-80px -120px}
.country-IT{background-position:-80px -160px}
.country-SM{background-position:-80px -180px}
.country-MN{background-position:-100px -20px}
.country-AE{background-position:-100px -40px}
.country-MR{background-position:-100px -80px}
.country-LC{background-position:-100px -120px}
.country-BG{background-position:-100px -140px}
.country-LV{background-position:-100px -160px}
.country-UZ{background-position:-120px -40px}
.country-MU{background-position:-120px -80px}
.country-TG{background-position:-120px -100px}
.country-TT{background-position:-120px -120px}
.country-SE{background-position:-120px -180px}
.country-LI{background-position:-120px -160px}
.country-TL{background-position:-140px 0}
.country-NP{background-position:-140px -20px}
.country-VN{background-position:-140px -40px}
.country-EG{background-position:-140px -60px}
.country-MA{background-position:-140px -80px}
.country-TN{background-position:-140px -100px}
.country-LT{background-position:-140px -160px}
.country-CH{background-position:-140px -180px}
.country-IN{background-position:-160px 0}
.country-KP{background-position:-160px -20px}
.country-YE{background-position:-160px -40px}
.country-MZ{background-position:-160px -80px}
.country-UG{background-position:-160px -100px}
.country-LU{background-position:-160px -160px}
.country-TR{background-position:-160px -180px}
.country-ID{background-position:-180px 0}
.country-NA{background-position:-180px -80px}
.country-ZM{background-position:-180px -100px}
.country-DK{background-position:-180px -140px}
.country-MT{background-position:-180px -160px}
.country-UA{background-position:-180px -180px}
.country-PE{background-position:-180px -200px}
.country-PK{background-position:-200px -20px}
.country-NE{background-position:-200px -80px}
.country-IR{background-position:-200px 0}
.country-ZW{background-position:-200px -100px}
.country-SK{background-position:-200px -140px}
.country-MD{background-position:-200px -160px}
.country-IQ{background-position:-220px 0}
.country-EH{background-position:-220px -20px}
.country-NG{background-position:-220px -80px}
.country-SI{background-position:-220px -140px}
.country-MC{background-position:-220px -160px}
.country-UY{background-position:-220px -200px}
.country-IL{background-position:-240px 0}
.country-PH{background-position:-240px -20px}
.country-RW{background-position:-240px -80px}
.country-NI{background-position:-240px -120px}
.country-ES{background-position:-240px -140px}
.country-ME{background-position:-240px -160px}
.country-CA{background-position:-240px -180px}
.country-VE{background-position:-240px -200px}
.country-JP{background-position:-260px 0}
.country-QA{background-position:-260px -20px}
.country-BF{background-position:-260px -40px}
.country-ST{background-position:-260px -80px}
.country-PA{background-position:-260px -120px}
.country-NO{background-position:-260px -160px}
.country-HK{background-position:-260px -200px}
.country-JO{background-position:-280px 0}
.country-SA{background-position:-280px -20px}
.country-GW{background-position:-280px -60px}
.country-SN{background-position:-280px -80px}
.country-NL{background-position:-280px -160px}
.country-MX{background-position:-280px -180px}
.country-LY{background-position:-280px -200px}
.country-NZ{background-position:-300px -200px}
.country-KZ{background-position:-300px 0}
.country-SG{background-position:-300px -20px}
.country-KE{background-position:-300px -60px}
.country-SC{background-position:-300px -80px}
.country-DE{background-position:-300px -120px}
.country-PL{background-position:-300px -160px}
.country-KW{background-position:-320px 0}
.country-KR{background-position:-320px -20px}
.country-LS{background-position:-320px -60px}
.country-SL{background-position:-320px -80px}
.country-PT{background-position:-320px -160px}
.country-US{background-position:-320px -180px}
.country-RS{background-position:-320px -200px}
