/* Zhengzheng ZHANG [tychio@yeahmobi.com]
 * 2013.9.6
 */.country-icon{display:inline-block;overflow:hidden;width:30px;height:30px;background-image:url("icon.png");background-repeat:no-repeat;margin:0 2px}
.country-CN{background-position:0 0}
.country-KG{background-position:0 -30px}
.country-LR{background-position:0 -120px}
.country-SO{background-position:0 -150px}
.country-JM{background-position:0 -180px}
.country-MK{background-position:0 -210px}
.country-UK{background-position:0 -270px}
.country-PY{background-position:0 -330px}
.country-AF{background-position:-30px 0}
.country-LA{background-position:-30px -30px}
.country-RO{background-position:-30px -90px}
.country-ZA{background-position:-30px -150px}
.country-HU{background-position:-30px -240px}
.country-CZ{background-position:-30px -270px}
.country-AU{background-position:-30px -330px}
.country-LB{background-position:-60px -30px}
.country-MG{background-position:-60px -120px}
.country-SD{background-position:-60px -150px}
.country-IE{background-position:-60px -240px}
.country-SR{background-position:-60px -330px}
.country-MY{background-position:-90px -30px}
.country-TH{background-position:-90px -60px}
.country-MW{background-position:-90px -120px}
.country-KN{background-position:-90px -180px}
.country-IS{background-position:-90px -240px}
.country-RU{background-position:-90px -270px}
.country-TJ{background-position:-90px -330px}
.country-MV{background-position:-120px -30px}
.country-TM{background-position:-120px -60px}
.country-CI{background-position:-120px -90px}
.country-ML{background-position:-120px -120px}
.country-TZ{background-position:-120px -150px}
.country-VC{background-position:-120px -180px}
.country-IT{background-position:-120px -240px}
.country-SM{background-position:-120px -270px}
.country-MN{background-position:-150px -30px}
.country-AE{background-position:-150px -60px}
.country-MR{background-position:-150px -120px}
.country-LC{background-position:-150px -180px}
.country-BG{background-position:-150px -210px}
.country-LV{background-position:-150px -240px}
.country-UZ{background-position:-180px -60px}
.country-MU{background-position:-180px -120px}
.country-TG{background-position:-180px -150px}
.country-TT{background-position:-180px -180px}
.country-SE{background-position:-180px -270px}
.country-LI{background-position:-180px -240px}
.country-TL{background-position:-210px 0}
.country-NP{background-position:-210px -30px}
.country-VN{background-position:-210px -60px}
.country-EG{background-position:-210px -90px}
.country-MA{background-position:-210px -120px}
.country-TN{background-position:-210px -150px}
.country-LT{background-position:-210px -240px}
.country-CH{background-position:-210px -270px}
.country-IN{background-position:-240px 0}
.country-KP{background-position:-240px -30px}
.country-YE{background-position:-240px -60px}
.country-MZ{background-position:-240px -120px}
.country-UG{background-position:-240px -150px}
.country-LU{background-position:-240px -240px}
.country-TR{background-position:-240px -270px}
.country-ID{background-position:-270px 0}
.country-NA{background-position:-270px -120px}
.country-ZM{background-position:-270px -150px}
.country-DK{background-position:-270px -210px}
.country-MT{background-position:-270px -240px}
.country-UA{background-position:-270px -270px}
.country-PE{background-position:-270px -300px}
.country-PK{background-position:-300px -30px}
.country-NE{background-position:-300px -120px}
.country-IR{background-position:-300px 0}
.country-ZW{background-position:-300px -150px}
.country-SK{background-position:-300px -210px}
.country-MD{background-position:-300px -240px}
.country-IQ{background-position:-330px 0}
.country-EH{background-position:-330px -30px}
.country-NG{background-position:-330px -120px}
.country-SI{background-position:-330px -210px}
.country-MC{background-position:-330px -240px}
.country-UY{background-position:-330px -300px}
.country-IL{background-position:-360px 0}
.country-PH{background-position:-360px -30px}
.country-RW{background-position:-360px -120px}
.country-NI{background-position:-360px -180px}
.country-ES{background-position:-360px -210px}
.country-ME{background-position:-360px -240px}
.country-CA{background-position:-360px -270px}
.country-VE{background-position:-360px -300px}
.country-JP{background-position:-390px 0}
.country-QA{background-position:-390px -30px}
.country-BF{background-position:-390px -60px}
.country-ST{background-position:-390px -120px}
.country-PA{background-position:-390px -180px}
.country-NO{background-position:-390px -240px}
.country-HK{background-position:-390px -300px}
.country-JO{background-position:-420px 0}
.country-SA{background-position:-420px -30px}
.country-GW{background-position:-420px -90px}
.country-SN{background-position:-420px -120px}
.country-NL{background-position:-420px -240px}
.country-MX{background-position:-420px -270px}
.country-LY{background-position:-420px -300px}
.country-NZ{background-position:-450px -300px}
.country-KZ{background-position:-450px 0}
.country-SG{background-position:-450px -30px}
.country-KE{background-position:-450px -90px}
.country-SC{background-position:-450px -120px}
.country-DE{background-position:-450px -180px}
.country-PL{background-position:-450px -240px}
.country-KW{background-position:-480px 0}
.country-KR{background-position:-480px -30px}
.country-LS{background-position:-480px -90px}
.country-SL{background-position:-480px -120px}
.country-PT{background-position:-480px -240px}
.country-US{background-position:-480px -270px}
.country-RS{background-position:-480px -300px}
